/part04-Part04_27.IsItInTheFile/target/
/part04-Part04_31.SportStatistics/target/
/part05-Part05_01.OneMinute/target/
/part05-Part05_05.ConstructorOverload/target/
/part05-Part05_09.HealthStation/target/
/part05-Part05_10.CardPayments/target/
/part05-Part05_12.Song/target/
/part04-Part04_23.CreatingANewFile/target/
/part06-Part06_04.PrintingACollection/target/
/part06-Part06_07.HeightOrder/target/
/part06-Part06_11.Averages/target/
/part07-Part07_01.LiquidContainers/target/
/part07-Part07_02.LiquidContainers2/target/
/part07-Part07_03.Sorting/target/
/part07-Part07_05.Searching/target/
/part04-Part04_29.RecordsFromAFile/target/
/part07-Part07_07.RecipeSearch/target/
